include ChangeLog
include DESCRIPTION.rst
recursive-include typhon *.xml
recursive-include typhon *.xml.bin
recursive-include typhon *.mplstyle
include typhon/arts/tests/*.py
include typhon/arts/xml/tests/*.py
